.container {
  /* display: flex; */
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

.h2 {
  font-size: 5vw;
}

.h3 {
  font-size: 3vw;
}

.container p {
  font-size: 1rem;
  width: 70vw;
}
