.container {
  position: fixed;
  z-index: 10000;
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  padding: 0 1rem;
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
}

.title {
  font-size: 1rem;
}

.spacer {
  flex: 1;
}

.container ul {
  list-style: none;
}

.container li {
  display: inline-block;
  margin: 0 10px;
}

.container a:link {
  text-decoration: none;
  color: #fff;
}

.container a:hover {
  text-decoration: underline;
}
