html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.3;
  color: #fff;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
